      <div class="container">
          <video 
            controls
            crossorigin
            playsinline
            poster="<%= video.posterPathEJS %>"
            id="player"
          >
            <!-- Video files -->
            <source
              src="/loadVideo/<%=video.uuid%>"
              type="video/mp4"
              size="576"
            />
          </video>
        </div>
   <div class="playVideoBox">
          <p class="title">
            <%= video.videoName %>
          </p>
       <div class="actions">

         
         
                   <% if(isLiked){ %>
                   <div>
            <a role="button" class="actionBtn"  data-href="/like/<%= video.uuid %>" ><i class="fas fa-thumbs-up"></i></a>
        <p><%-like_count%></p>
        </div>
 <% } else{ %>  
              <div>
               <a role="button" class="actionBtn" data-href="/like/<%= video.uuid %>"><i class="far fa-thumbs-up"></i></a>
        <p><%-like_count%></p>
        </div>
 <% } %>

                   <% if(isDislike){ %>
            <div>
            <a role="button" class="actionBtn" data-href="/dislike/<%= video.uuid %>" ><i class="fas fa-thumbs-down"></i></a>
        <p>Dislike</p>
        </div>
 <% } else{ %>  
             <div>
               <a role="button" class="actionBtn" data-href="/dislike/<%= video.uuid %>"><i class="far fa-thumbs-down"></i></a>
        <p>Dislike</p>
        </div>
<% } %>
        <div>
        <a href="/download/<%=video.uuid%>"> <i class="fas fa-download"></i></a>
         <p>Download</p>
       </div>
       <div>
         <i class="fas fa-share-alt share"></i>
         <p>Share</p>
       </div>
          <% if(isReported){ %>
          <div>
            <a role="button" class="actionBtn" data-href="/reportVideo/<%= video.uuid %>" class="reported"><i class="fas fa-flag"></i></a>
         <p>Report</p>
            </div>
 <% } else{ %>  
       <div>
               <a role="button" class="actionBtn" data-href="/reportVideo/<%= video.uuid %>"><i class="far fa-flag"></i></a>
         <p>Report</p>
               </div>
<% } %>
          
          
   
       </div>
  
  </div>
  <div class="commnetBox container">
    <form data-action="/newcomment/<%=video.uuid%>" class="commemtsForm">
      <textarea class="commentValue comment" name="comment" placeholder="Type your comment here"></textarea>
      <br>
      <input type="submit" name="submit" value="Submit" class="postCommentBtn">
    </form>
  </div>
  
  
  <div class="allCommemts container">
          <% if(comments.length==0) { %>
        <div style="color:#fff;text-align:center;font-size:1.4rem;margin-top:3rem;">No comments</div>
        <% } %>
    <% comments.forEach(function(comment){ %>
    <div class="commentCard">
      <div class="user-info">
        <img src="../assets/profile.jpeg" alt="user">
        <p><%=comment.author%></p>
      </div>
      <p><%=comment.comment%></p>
      <details>
        <summary>Replies</summary>
        
             <div class="replyBox">
    <form action="/commentreply/<%=comment._id%>" method="POST" class="replyForm">
      <input name="reply" class="reply" placeholder="Enter reply"></input>
      <br>
      <input type="submit" name="submit" value="Submit" class="submitReply">
    </form>
  </div>
          <% comment.replies.forEach(function(reply){ %>
      <div class="replies">
          <div class="user-info">
        <img src="../assets/profile.jpeg" alt="user">
        <p><%=reply.author%></p>
      </div>
      <p><%=reply.reply%></p>
      </div>
   <% }) %>
   
  </details>
    </div>
  <% }) %>
  </div>

  <!--
  <script src="../js/videoAction.js"></script>
  -->